<main class="form-signin w-100 m-auto" style="padding-top: 7%">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="form-floating">
      <%= f.text_field :username, autofocus: true, autocomplete: "Username", class: 'form-control form-index-first' %>
      <%= f.label :username %>
    </div>

    <div class="form-floating">
      <%= f.email_field :email, autocomplete: "email", class: 'form-control form-index-middle' %>
      <%= f.label :email, "Email" %>
    </div>

    <div class="form-floating">
      <%= f.password_field :password, autocomplete: "new-password", class: 'form-control form-index-middle' %>
      <%= f.label :password, "Password (#{@minimum_password_length} characters minimum)" %>
    </div>

    <div class="form-floating">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control form-index-last' %>
      <%= f.label :password_confirmation, "Password Confirmation" %>
    </div>

    <%= f.submit "Sign up", class: 'btn btn-primary w-100 py-2 mt-2'  %>
  <% end %>

  <div class="d-flex justify-content-center mt-2">
    <%= render "devise/shared/links" %>
  </div>
</main>